<!DOCTYPE html>
<html lang="<%= language %>">
	<head prefix="og: http://ogp.me/ns#">
		<%- include('./header', {title: global.translator('index.title')}) %>
	</head>
	<body>
		<% include ./navigation %>
		<% include ./background %>
	</body>
</html>
